/* 404 PAGE */
.error404 .hfeed .site-header {
  @include desktop { 
    background: hsla(0,0%,100%,.5);
  }
}
.error404 .error-404 {
  height: 100vh;
  max-width: 100%;
  background:$background_red;
  color: $color_white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    .not-found {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    h1 {
      margin: 0;
      font-size:rem(144);
      opacity: 0.29
    }
}

.error404 .page-content {
  line-height: 0;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}

.error404 .fa-bug {
  font-size:rem(89);
  opacity: 0.60;

}
.error-bug {
  align-self: center;
  position: absolute;
  transform: translate(0, 0);
  align-items: center;
}
