/* ABOUT PAGE STYLE */



.vatjss-about p{
  line-height: rem(30); 
  text-align: center;
  font-size: rem(18);
  margin-left: auto;
  margin-right: auto;
  width: 16rem;
  padding-top: 50%;
  color: white;
    @include desktop {
      padding-top: 25%;
      height: rem(156);	
      width: rem(962);	
      font-size: rem(30);	
      font-weight: 500;	
      line-height: rem(39);
    }
}

section.vatjss-about-content {
  background: url(../../images/red_maple_background.png);
  color: $color_white;
  display:flex;
  flex-direction: column;
  width: 100%;
    @include desktop {
      background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
        url(../../images/black_maple_background.png);
      height: 65vh;
    }

    .vatjss-about-category {
      @include desktop {
        display: none;
      }
    }
    
  h2.vatjss-story-header {
    height: rem(25);	
    font-size: rem(24);	
    line-height: rem(28);	
    text-align: center;
    font-size: rem(24);
  }

  p {
    height: 100%;
    width: 90%;
    line-height: rem(30);
    border-bottom: $border_grey;
    padding-bottom: rem(30);    
    margin: auto;  
  }

}

.vatjss-our-vision {
  display: none;

  @include desktop {
    display: unset;
  }
}


.page-template-about .vatjss-staff {
   background: black;
   display: flex;
   flex-direction: column;
   color: #fff;
   }


.page-template-about .vatjss-read-more-button {
  text-align: center;
  height: rem(32);
  width: rem(160);  
  background-color: $background_red;  
  border-radius: rem(5);
  overflow: auto;  
  margin: 0 auto;
  
  a.vatjss-button-link {
    color: $color_white;

    span.vatjss-right-arrow {
      padding-left: rem(20);
      font-size: rem(20);
    }
  }

  @include desktop {
    height: rem(40);	
    width: rem(140);	
    padding-top: rem(9);

    a span.vatjss-right-arrow {
      display: none;
    }
  }   
}

.page-template-about .vatjss-mission-buttons {
  display: none;

  @include desktop {
    display: flex;
    justify-content: space-between;

    div.vatjss-all-buttons {
      border: $border_grey;
      background: $background_red;
      height: rem(159);
      width: rem(663);
      border-radius: rem(10);
      margin-top: rem(16);
      margin-bottom: rem(35);
      
      a.vatjss-link-header {
        text-decoration: none;
        color: $color_white;
        font-size: rem(36);
        display: flex;
        justify-content: center;
        padding-top: rem(55);
      }
    }
  }
}

.page-template-about div div.vatjss-first {
  margin-left: rem(40); 
  margin-right: 20px;
}

.page-template-about div div.vatjss-second {
  margin-right: rem(40);
  margin-left: rem(20);
}

div div.vatjss-staff-img {

  @include desktop {
    height: 65%;
    margin-left: rem(50);
  }
}

//Footer
.page-template-about footer .vatjss-footer-web {
  @include desktop {
    margin-right: rem(285);
  }  
}

 .page-template-about footer .vatjss-footer-icons {
  @include desktop {
    display: none;
  }
 }
 .page-template-about .vatjss-staff-content {
   background-color: black;
 }
 .page-template-about .vatjss-staff-parag {
   margin: 0 auto;
   width: 90%;
    @include desktop {
      height: 87px;	
      width: 660px;		
      font-size: 25px;	
      line-height: 33px;
    }
 }
@include desktop {
  div.vatjss-hover {
    h2 {
      position: absolute;
      transition: top 0.2s;
    }
    p { 
      opacity: 0; 
      transition: opacity 0.5s linear; }
  }
  div.vatjss-hover:hover{
    p {	
      opacity: 1;
  }
  h2 {
    top: -100px;
    }
  }
}