/* ABOUT PAGE STYLE */

header div h2.vatjss-about {
  height: 70vh;
  max-width: 100%;
  line-height: rem(30); 
  text-align: center;
  font-size: rem(18);
}

section.vatjss-about-content {
  background: url(../../images/red_maple_background.png);
  color: $color_white;
  display:flex;
  flex-direction: column;
  width: 100%;
    @include desktop {
      background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../../images/black_maple_background.png);;
      height: 100vh;
    }

    .vatjss-about-category {
      @include desktop {
        display: none;
      }
    }
    
  h2.vatjss-story-header {
    height: rem(25);	
    font-size: rem(24);	
    line-height: rem(28);	
    text-align: center;
    font-size: rem(24);
  }

  p {
    height: 100%;
    width: 90%;
    line-height: rem(30);
    border-bottom: $border_grey;
    padding-bottom: rem(30);    
    margin: auto;  
  }

}

.vatjss-our-vision {
  display: none;

  @include desktop {
    display: unset;
  }
}

// section.vatjss-sidebar-widget {
//    display: none;
//  }  //fix widget  
.page-template-about .vatjss-biz-hours-class {
  display: none;
    @include desktop {
      display: unset;
      width: 26rem;
    }
}
.page-template-about .vatjss-staff-content {
   background: black;
   .vatjss-staff {
    color: #fff;
   }
  .vatjss-our-staff {
    margin: 0;
    text-align: center;
    padding-bottom: 1rem;
  }
  p {
    margin: 0;
  }
}
.page-template-about .vatjss-learn-more-button {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}
.page-template-about .widget-area {
  @include desktop {
  color: $color_white;
  display: flex;
  background: black;
  flex: 5;
  padding-left: 4rem;
  padding-right: 4rem;
  }
}
.page-template-about .vatjss-mission-buttons {
  display: flex;
  justify-content: space-between;
}