/* ABOUT PAGE STYLE */
.page-template-about {
  background: black;
}
.page-template-about .vatjss-custom-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.vatjss-about p{
  line-height: rem(30); 
  font-size: rem(18);
  width: 16rem;
  color: white;

    @include desktop {
    height: 9.75rem;
    width: 60.125rem;
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 2.4375rem;
  }
}
// about content
section.vatjss-about-content {
  background: url(../../images/red_maple_background.png);
  color: $color_white;
  display:flex;
  flex-direction: column;
  width: 100%;

    @include desktop {
      background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../../images/black_maple_background.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .vatjss-about-category {
      width: auto;
      height: auto;
      @include desktop {
        width: 0;
        height: 0;
        overflow: hidden;
      }
    }
    
  h2.vatjss-story-header {
    height: rem(25);	
    font-size: rem(24);	
    line-height: rem(28);	
    text-align: center;
    font-size: rem(24);
  }

  p {
    width: 90%;
    line-height: rem(30);
    border-bottom: $border_grey;
    padding-bottom: rem(30);    
    margin: auto;  
      @include desktop {
        border: 0;
      }
  }
}

.vatjss-our-vision {
  width: 0;
  height: 0;
  overflow: hidden;

  @include desktop {
    width: auto;
    height: auto;
  }
}

.page-template-about .vatjss-mission-buttons {
  width: 0;
  height: 0;
  overflow: hidden;

  @include desktop {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    padding: 50px;

    
    div.vatjss-all-buttons {
      border: $border_grey;
      background: $background_red;
      height: rem(160);
      border-radius: rem(10);
      overflow-y: scroll;
      display: flex;
      justify-content: space-around;
      &::-webkit-scrollbar-track {
        display: none;
      }
      &::-webkit-scrollbar {
        display: none;
      }
      &::-webkit-scrollbar-thumb {
        display: none;
      }
    }
  }
}

.vatjss-first, .vatjss-second {
  @include desktop {
    width: 45%;

    div:nth-child(2), div:nth-child(4) {
      margin-top: 55px;
    }
  }
}



.page-template-about div div h2.vatjss-hover-title {
  //padding-left: 280px;
  padding-top: rem(45);
}

@include desktop {
  div.vatjss-hover {
    position: relative;
    h2 {
      position: absolute;
      transition: top 0.2s;
      left: 50%;
      transform: translate(-50%,0);
    }
    p { 
      opacity: 0; 
      transition: opacity 0.5s linear; 
      border: none;
    }
  }

  div.vatjss-hover:hover{
    p {	
     opacity: 1;
    }

    h2 {
      top: rem(-100);
    }
    
    &::-webkit-scrollbar-track {
      display: unset;
      border-radius: 5px;
      background-color: black;
    }
    &::-webkit-scrollbar {
      display: unset;
      width: 5px;
      background-color: black;
    }
    &::-webkit-scrollbar-thumb {
      display: unset;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
      background-color: $background_red;
    }
  }
}

//staff content
.page-template-about .vatjss-staff-content {
  background-color: black;
  margin-bottom: rem(-1);  
}

.page-template-about div.vatjss-staff-img {
  height: rem(285);
  width: 100%;

  @include desktop {
  height: 40vw;
  width: 50%;
  margin-left: 5%;
  }
}

.page-template-about .vatjss-staff-parag {
  margin: auto;
  padding-left: rem(16);

  
   @include desktop {
    height: rem(300);
    font-size: 1.5625rem;
    line-height: 2.0625rem;
    right: 0;
    position: absolute;
    top: 0;
    width: 43%;
    
    p{
      padding-right: rem(50);      
    }
   }
 }

.page-template-about .vatjss-staff {
  background: black;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding-bottom: rem(35);

  @include desktop {
    margin-top: rem(50);
    padding-bottom: rem(50);
    position: relative;
  }
}

.page-template-about .vatjss-read-more-button {
  text-align: center;
  height: rem(32);
  width: rem(160);  
  background-color: $background_red;  
  border-radius: rem(5);
  margin: 0 auto;
  
  a.vatjss-button-link {
    color: $color_white;
    text-decoration: none;

    span.vatjss-right-arrow {
      padding-left: rem(20);
      font-size: rem(20);
    }
  }

  @include desktop {
    height: rem(40);	
    width: rem(204);	
    padding-top: rem(9);
    padding-bottom: rem(44);
    font-size: rem(24);
    border-radius: rem(10);
    position: absolute;
    margin-left: rem(15);
    margin-top: rem(350);
    top: 0;

    a span.vatjss-right-arrow {
      width: 0;
      height: 0;
      overflow: hidden;
      @include desktop {
        width: auto;
        height: auto;
      }
    }
  }   
}

//Footer

 .page-template-about footer .vatjss-footer-icons {
   width: auto;
   height: auto;
  @include desktop {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

