/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget-area {
  @include desktop {
  color: $color_white;
  display: flex;
  background: black;
  flex: 5;
  padding-left: 4rem;
  padding-right: 4rem;
	}
}
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}


/* Search widget. */
.widget_search .search-submit {
	width: 0;
	height: 0;
	overflow: hidden;
}

/* bottom sidebar */
div div aside#text-5 {
	width:0;
	height:0;
	overflow: hidden;
	@include desktop {
		width: auto;
		height: auto;
	}
	form p input.wpcf7-form-control {
		background: $background_black;
		text-align: center;
		padding-top: rem(10);
    padding-bottom: rem(10);
    border-radius: rem(10);
		border: 3px solid #FFFFFF;	
		&:focus {
			color: $color_white;
		}
	}
	form p input.wpcf7-text{
		width: 80%;	
	}
	form p input.wpcf7-submit {
		background: $background_red;
		color: $color_white;
		text-transform: uppercase;
		border: none;
		box-shadow: none;
		padding: 16px 30px;
		letter-spacing: rem(1);
    font-size: rem(16);
	}
	@include desktop {
		display: unset;
		margin: 0;
		width: 33rem;
		border-right: 5px solid #971E16;
		text-align: center;
		align-content: center;
	 }
}  //subscribe

div div aside#text-4 {
	width: 0;
	height: 0;
	overflow: hidden;

	@include desktop {
		display: unset;
		margin: 0;
		width: 22rem;
		height: auto;
		border-right: 5px solid #971E16;
		text-align: center;
		align-content: center;

		div.textwidget {
			font-size: rem(55);
			padding-left: rem(40);
			padding-right: rem(40);
			padding-top: rem(20);
			
			p{
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				a{
					color: $color_white;
				}
			}
		}
	}
}  //social

div aside.vatjss-biz-hours-class {
	background: $background_black;
	color: $color_white;
	
	h2.widget-title {
		margin: 0;
		text-align: center;
		text-transform: uppercase;
		padding-top: rem(20);
		padding-bottom: rem(30);
	}
}  //biz hour

.vatjss-business-hours{
	display: flex;
	padding-left: rem(15.9);
	padding-right: rem(15.9);
	font-size: rem(14);

		.vatjss-hours{
			align-self: center;
			line-height: .6;
		}

		@include desktop {
			flex-direction: column;
		}
}

.vatjss-widget-address p {
	margin: 50px auto 0 auto;
	line-height: rem(35); 
	font-size: rem(14);
	text-transform: uppercase;
	text-align: center;
	width: 80%;
	span.widget_address {
		width: 0;
		height: 0;
		overflow: hidden;
		display: block;
		@include desktop {
			width: auto;
			height: auto;
		}
	}	

	// @include desktop {
	// 	width: rem(147);
	// 	margin-left: rem(100);		
	// 	margin-top: rem(40);
	// }
}

.vatjss-biz-hours-class {
	width: 0;
	height: 0;
	overflow: hidden;

    @include desktop {
			width: auto;
			height: auto;
      display: unset;
      width: 26rem;
    }
}