/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer.site-footer{
  background: $background_black;
  position: absolute;
  width: 100%;
  
  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: rem(40);
    padding-right: rem(40);
  }
}

div.vatjss-footer-icons {
  display: flex;
  justify-content: center;

  .vatjss-socialmedia-icon {
    background-color: $background_black;
    color: $color_white;
    height: rem(34);
    width: rem(34);
    align-self: auto;
    margin-left: rem(21);
    margin-top: rem(18);
  }    
}

div p.vatjss-footer-mobile {
  line-height: rem(17);
  font-size: rem(14);
  background-color: $background_black;
  color: $color_white;
  text-align: center;
 
  @include desktop {
    display: none;
  }
}

div p.vatjss-footer-web {
  display: none;
  
  @include desktop {
    display: unset;
    margin-bottom: rem(33);
    color: $color_white;
    
  }
}