/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

div p.vatjss-footer {
  font-family: $font_secondary;
  font-weight: 500;
  font-style: normal;
  line-height: rem(33);
  font-size: rem(24);
  background-color: $color_black;
  color: $color_white;
  text-align: center;
}

div p span.vatjss-capitalize {
  text-transform: $uppercase;
}
