
/* Front page */
.vatjss-home-hero{
  background-image:linear-gradient(rgba(151, 30, 22, 0.5) 0,rgba(151, 30, 22, 0.5)),url('../../images/bc_lake.png');
  background-size:cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  .main-carousel .flickity-viewport .carousel-cell{
    width:100%;
  }
  .main-carousel .flickity-viewport .carousel-cell .carousel-content{
    width: 70%;
  }
  .main-carousel{
    width:100%;
    margin: 0 auto;
    height: 100%;
    background:rgba(0,0,0,0.5);
    color:$color_white;
    h3{
      margin-bottom: 0;
    }
    .flickity-prev-next-button .arrow {
      fill: white;
    }
    .flickity-prev-next-button{
      background:transparent;
      box-shadow: none;
      color:$color_white;
    }
    .flickity-page-dots{
      position: relative;
      bottom: 150px;
      .dot{
        background-color:$color_white;
        opacity: 1;
        width: 12px;
        height: 12px;
      }
      .is-selected{
        background-color:$background_red;
        border: 1px solid $color_white;
      }
    }
    .vatjss-carousel-button{
      background-color:$background_red;
      color:white;
      text-decoration: none;
      padding: 10px 20px;
      border-radius:5px;
    }
  }
}
.vatjss-home-banner {
  overflow: auto;
  height: 30vh;
  h2{
    color:$color__background-body;
  }
}
.vatjss-home-banner,.vatjss-home-mobile-subscribe-banner {
  background-image: url('../../images/red_maple_background.png');
  background-repeat: repeat;
  background-position: center;
}
.vatjss-home-mobile-subscribe-banner{
  height: 20vh;
  button{
    font-size: rem(24);
  }
  @include desktop {
    height:0;
  }
}

.on-subscribe {
  height: 0;
}

.on-subscribe-click {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left:0;
  top:0;
  background-color: rgba(151, 30, 22, 0.4);
  z-index: 100000;
}
