
/* Front page */
.home {
  .on-subscribe{
    height: 0;
  }
  .on-subscribe-click{
    height: auto;
  }
  .vatjss-home-hero{
    background-image:linear-gradient(rgba(151, 30, 22, 0.5) 0,rgba(151, 30, 22, 0.5)),url('../../images/bc_lake.png');
    background-size:cover;
    background-position: center;
    height: 600px;
    width: 100vw;
    display: flex;
    align-items: center;
    @include desktop{
      padding-top: rem(134);
    }
    .main-carousel .flickity-viewport .carousel-cell{
      width:100%;
      height: 100%;
    }
    .main-carousel .flickity-viewport .carousel-cell .carousel-content{
      width: 70%;
    }
    .main-carousel{
      width:100%;
      height: 100%;
      background:rgba(0,0,0,0.5);
      color:$color_white;
      @include desktop{
        height: 60%;
        margin: 0 auto;
        max-width: 600px;
      }
      h3{
        margin-bottom: 0;
        font-size: rem(24);
      }
      .flickity-prev-next-button .arrow {
        fill: white;
      }
      .flickity-prev-next-button{
        background:transparent;
        box-shadow: none;
        color:$color_white;
      }
      .flickity-page-dots{
        position: relative;
        bottom: 30px;
        .dot{
          background-color:$color_white;
          opacity: 1;
          width: 12px;
          height: 12px;
        }
        .is-selected{
          background-color:$background_red;
          border: 1px solid $color_white;
        }
      }
      .vatjss-carousel-button{
        background-color:$background_red;
        color:white;
        text-decoration: none;
        padding: 10px 20px;
        border-radius:5px;
      }
    }
  }
  .vatjss-home-banner {
    overflow: auto;
    .vatjss-flex-container{
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      height: 30vh;
    }
    h2{
      color:$color__background-body;
      font-size: rem(18);
      @include desktop{
        text-align: left;
      }
    }
    .volunteer-learn-more-fp{
      a{
        background-color:$color_black;
        color:$color_white;
        text-decoration: none;
        padding: 10px 20px;
        border-radius:5px;
        &:hover{
          background-color: lighten($color_black,50%);
        }
      }
    }
  }
  .vatjss-home-banner,.vatjss-home-mobile-subscribe-banner {
    background-image: url('../../images/red_maple_background.png');
    background-repeat: repeat;
    background-position: center;
  }
  .vatjss-home-mobile-subscribe-banner{
    height: 20vh;
    button{
      font-size: rem(24);
      background-color:$color_black;
      box-shadow: none;
      text-shadow: none;
      border:none;
      color:$color_white;
      padding: 10px 20px;
      &:hover{
        background-color: lighten($color_black, 10%);
      }
    }
    @include desktop {
      height: 0;
      width: 0;
      overflow: hidden;

      button {
        display: none;
      }
    }
  }
  .vatjss-home-services-section{
    background-color:transparent;
    .vatjss-container-fluid{
      padding:0;
      .vatjss-flex-item-mobile-100{
        overflow: hidden;
        position: relative;
      }
    }
    .housing-services-fp,.justice-services-fp,.resources-fp,.volunteer-fp{
      padding: 20px;
      background-color:rgba(0,0,0,0.5);
      color:$color_white;
      a{
        display: inline-block;
        background-color:$background_red;
        padding: 10px 20px;
        color:$color_white;
        text-decoration: none;
        border-radius: 5px;
        margin-bottom: rem(18);
      }
    }
    .vatjss-home-service-mobile-image{
      position: absolute;
      z-index: -1;
      height:100%;
      img{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }    
  }
  
  .on-subscribe-click {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left:0;
    top:0;
    background-color: rgba(151, 30, 22, 0.4);
    z-index: 100000;
    .vatjss-sidebar-widget-click {
      width: 80vw;
      height: 60vh;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      aside#text-5 {
        width: 100%;
        height: 100%;
        background-color: black;
        border: 1px solid white;
        color: white;
        text-align: center;
        padding-top: 20px;
        h2{
          font-size: rem(18);
          margin-top: 20px;
        }
        p{
          margin-bottom:0;
          width:80%;
          margin: 10px auto 0 auto;
        }
        input.wpcf7-text{
          width: 100%;
          height: 40px;
        }
      }
      span {
        width: 100%;
      }
      h2 {
        width: 100%;
      }
      @include desktop {
        width: 0;
        height: 0;
        overflow: hidden
      }
    }
  }

  .close {
    width: 0;
    height: 0;
    overflow: hidden;
    @include desktop {
      width: 0;
      height: 0;
      overflow: hidden;
    }
  }
  .close-click {
    position: absolute;
    top: 22vh;
    color: white;
    right: 13vw;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    &:hover{
      cursor: pointer;
    }
    @include desktop {
      width: 0;
      height: 0;
      overflow: hidden;
    }
  }
}


@include desktop {
  .home{
    .on-subscribe{
      height: auto;
    }
    .vatjss-home-services-section{
      background-color:$background_black;
      color: $color_white;
      padding: 40px 0;
      .vatjss-container-fluid{
        padding:20px 0;
      }
      .vatjss-home-service-icons{
        max-height: 100px;
        margin: 0 auto;
      }
      .housing-services-fp,.justice-services-fp,.resources-fp{
        text-align: center;
        a{
          background-color:$background_red;
          padding: 10px 20px;
          text-decoration: none;
          color:$color_white;
          display: inline-block;
          &:hover{
            background-color:darken($background_red, 10%);
          }
        }
      }
    }
  }
  //VIDEO
  .front-page-video p{
    background: black;
    margin: 0;
  }
  .front-page-video iframe{
    width: 100vw;
  }
}