/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.logged-in .site-header {
	top: 44px;
}
.site-header {
	top: 0px;
}
/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.responsive-menu-button{
	box-shadow: none;
	&:hover,&:focus{
		box-shadow: none;
	}
}
.site-header-background{
	width: 100%;
	height: 180px;
	position: absolute;
	top: 0;
}
.site-header{
	position: fixed;
	width: 100%;
	background: rgba(255,255,255,0.5);
	top: 44px;
	z-index: 100;
	.vatjss-flex-container-no-wrap{
		align-items: center;
	}
	.site-branding{
		img{
			max-width: 60%;
		}
	}
	.vatjss-nav-menu{
		display: inline-block;
		width: 80%;
		max-height: 44px;
		transition: all 0.4s ease-in-out;
		.sub-menu{
			background: #494949;
			top: 2.5rem;
			li{
				padding: 10px 60px;
				border-bottom: 1px solid $color__border-abbr;
				a{
					color:white;
					text-align: center;
				}
			}
			li:last-child{
				border-bottom: none;
			}
		}
	}
	.menu{
		width: 100%;
		display: flex;
		justify-content: space-between;
		li{
			a{
				color:$color_black;
				padding: 10px;
			}
			&:hover{
				background: #494949;
				a{
					color:$color_white;
				}
			}
		}
	}
	.vatjss-phone-search{
		display: inline-block;
		float: right;
		a{
			display: inline-block;
			padding-top: 5px;
			position: fixed;
			top: 0;
			right: 0;
			padding: 10px 15px;
			background:black;
			color:white;
			span{
				margin-right: 10px;
			}
			&:hover{
				cursor: pointer;
			}
		}
	}
	.hide-item{
		opacity: 0;
		width: 0;
		overflow: hidden;
	}
	.search-form{
		display: inline-block;
		fieldset{
			padding: 0;
			border: none;
			margin-left: 15px;
		}
		label{
			.fa{
				color:black;
				font-size: rem(22);
				padding: 10px;
				&:hover{
					cursor: pointer;
				}
			}
		}
		.search-field{
			width: 0;
			border: none;
			background-color: transparent;
			-webkit-transition: width 0.4s ease-in-out;
			transition: width 0.4s ease-in-out;
		}
		.search-field:focus{
			outline: none;
			border-bottom: 1px solid #fff;
		}
		.search-field-focus{
			width: 200px;	
		}
		.search-submit{
			display: none;
		}
	}
}
@include mobile {
	.site-header{
		top:0;
		background:black;
		.vatjss-phone-search{
			min-width: 70px;
			a{
				position: relative;
				padding: 0px;
				display: inline-block;
				span{
					margin: 0;
				}
			}
		}
		.main-navigation{
			display: flex;
			align-items: center;
			justify-content: flex-end;
			position: relative;
		}
		.fa-phone{
			color:white;
			font-size: rem(22);
			position: relative;
			top: 2px;
		}
		.vatjss-mobile-logo{
			max-height: rem(50);
			position: absolute;
			left: 50%;
			transform: translate(-50%,0);
			transition: opacity 0.4s ease-in-out;
		}
		.menu{
			li{
				display: none;
			}
		}
		.vatjss-phone-search{
			a{
				top:0;
				position: relative
			}
		}
		.search-form{
			fieldset{
				margin-left: rem(15);
			}
			label{
				.fa{
					color:white;
				}
			}
			.search-field-focus{
				width: 100px;	
			}
		}
	}
}