/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.vatjss-home-hero{
  background-image:linear-gradient(rgba(151, 30, 22, 0.5) 0,rgba(151, 30, 22, 0.5)),url('../../images/bc_lake.png');
  background-size:cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
.vatjss-home-banner {
  overflow: auto;
  height: 30vh;
  h2{
    color:$color__background-body;
  }
}
.vatjss-home-banner,.vatjss-home-mobile-subscribe-banner {
  background-image: url('../../images/red_maple_background.png');
  background-repeat: repeat;
  background-position: center;
}
.vatjss-home-mobile-subscribe-banner{
  height: 20vh;
  button{
    font-size: rem(24);
  }
}
.post-type-archive-services, .post-type-archive-staff,.services-template-default{
  .site-content{
    padding-top: rem(70);
  }
}
.post-type-archive-staff{
  h1{
    color:white;
  }
  .vatjss-staff-header{
    background-image:linear-gradient(rgba(151, 30, 22, 0.5) 0,rgba(151, 30, 22, 0.5)),url('../../images/ruth-jenna-hands.png');
    background-size:cover;
    background-position: center;
    overflow: auto;
    height: 60vh;
    p{
      font-size: rem(24);
    }
  }
  .page-header{
    overflow: auto;
  }
  .vatjss-staff-img{
    width: 90px;
    height: 90px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    img{
      min-width: 100px;
    }
  }
  .entry-content{
    margin-top: rem(10);
  }
  h2{
    margin-bottom: 0;
    margin-top: 0;
    font-size: rem(20);
    color:white;
  }
  P{
    word-break: break-all;
    margin: 0 0 rem(10) 0;
    font-size: rem(14);
    color:white;
  }
  .vatjss-staff-section{
    background-image: linear-gradient(rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),url('../../images/black_maple_background.png');
    background-repeat: repeat;
    background-position: center;
    border-bottom: 1px solid white;
  }
}
.post-type-archive-services{
  h1{
    color:white;
    font-size: rem(22);
  }
  .vatjss-service-hero{
    background-image: linear-gradient(rgba(255,255,255,.15) 0,rgba(255,255,255,.15)),url('../../images/healing.jpeg');
    background-size:cover;
    background-position: center;
    height: calc(100vh - 70px);
  }
  .vatjss-services-section-container{
    .vatjss-flex-container-no-wrap{
      display: block;
    }
  }
  .vatjss-services-section{
    h2{
      font-size: rem(18);
    }
    .vatjss-service-learn-btn{
      background-color: $background_red;
      padding: rem(6) rem(12);
      color:white;
      text-decoration: none;
      font-size: rem(14);
      display: inline-block;
      .fa{
        position: relative;
        top: 1px;
        margin-left: 10px;
      }
    }
  }
  .vatjss-btn-section{
    margin: 0;
    .vatjss-flex-item-mobile-33{
      padding: 0;
    }
    .vatjss-service-btn{
      width: 100%;
      background: transparent;
      border: 1px solid white;
      box-shadow: none;
      font-size: rem(12);
      text-shadow: none;
      color:white;
      border-radius: 0;
    }
  }
}
.services-template-default{
  .vatjss-serivce-no-padding{
    padding-top:0;
    padding-bottom: 0;
  }
  .vatjss-service-hero{
    background-color: $color_black;
    position: relative;
    padding: 20px 0;
    
  }
  .entry-content{
    margin: 0;
  }
  .entry-header{
    position: relative;
    img{
      width: 100%;
      display: block;
    }
  }
  .vatjss-service-section{
    background-color: $color_black;
    h2,p{
      color: $color_white;
      margin-top: 0;
    }
    .vatjss-flex-item-desktop-70{
      padding: 20px 15px;
    }
  }
  .vatjss-justify-end{
    justify-content: flex-end;
  }
  .vatjss-service-red-maple-background-section{
    padding: 40px 0;
    background-image: url('../../images/red_maple_background.png');
    h2,p{
      color:white;
      margin-top: 0;
    }
    a{
      display: inline-block;
      text-decoration: none;
      background-color: $color_black;
      color:white;
      padding: 10px 20px;
      border-radius:5px;
    }
  }
  .vatjss-mobile-accordian, .vatjss-service-faq-section{
    button.accordion-services {
      background-color: $background_red;
      box-shadow: none;
      text-shadow: none;
      color: $color_white;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: all 0.4s ease-in-out; 
      border-radius:0;
      border-bottom: 1px solid white;
      font-size: rem(16);
    }
    button.accordion-services:last-child {
      border-bottom: none;
    }
    button.accordion-services.active, button.accordion-services:hover {
      background-color: $color__border-abbr;
    }
    div.panel {
      padding: 0 18px;
      background-color: white;
      display: none;
      overflow: auto;
    }
  }
  .vatjss-financial-services,.vatjss-home-services{
    .vatjss-service-title{
      position: absolute;
      top:50%;
      right: 50%;
      transform: translate(50%,-50%);
      background-image: linear-gradient(rgba(0,0,0,.7) 0,rgba(0,0,0,.7));
      padding: 10px;
      h1,p{
        color:white;
        text-align: center;
      }
      h1{
        font-size: rem(24);
      }
      p{
        font-size:rem(16);
      }
    }
    .vatjss-services-sidebar{
      .vatjss-services-sidebar-btns{
        position: absolute;
        left: 0;
        padding-left: 0;
      }
      button{
        width: 60%;
        background: $background_red;
        border:none;
        border-bottom: 1px solid black;
        box-shadow: none;
        text-shadow: none;
        color:white;
        border-radius: 0;
        padding: 30px 10px;
        font-size: rem(16);
      }
    }
  }
  .vatjss-justice-services{
    .entry-header{
      display: block;
    }
    .vatjss-service-section{
      .vatjss-flex-item-desktop-70{
        border-bottom: 1px solid white;
      }
    }
    .vatjss-service-justice-resource-btn{
      background-color:$background_red;
      display: inline-block;
      text-decoration: none;
      color:white;
      padding: 10px 20px;
      border-radius:5px;
      margin-bottom: 1.5rem;
    }
    .vatjss-service-title{
      padding: 10px;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(rgba(0,0,0, 0.5) 0,rgba(0,0,0, 0.5)),url('../../images/syim-photo-3.jpg');
      background-position: center;
      background-size: cover;
      h1,p{
        color:white;
        text-align: center;
      }
      h1{
        font-size: rem(24);
      }
      p{
        font-size:rem(14);
      }
    }
    .vatjss-justice-service-carousel{
      overflow: auto;
      position: relative;
      .vatjss-justice-service-steps{
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%,-50%);
        p{
          display: block;
          color:white;
          display:none;
          font-size: rem(24);
          margin: 0;
        }
        .active{
          display: block;
        }
      }
      .vatjss-carousel-background{
        background-image: linear-gradient(rgba(0,0,0, 0.6) 0,rgba(0,0,0, 0.6)),url('../../images/vatjss_logo_justice_service.svg'),linear-gradient(rgba(255,255,255, 1) 0,rgba(255,255,255, 1));
        background-size: 200px;
        background-repeat: no-repeat;
        background-position: center;
        width: 200px;
        height: 200px;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%,-50%);
        border-radius: 50%;
      }
    }
    .circle-container {
      @include on-circle($item-count: 7, $circle-size: 16rem, $item-size: 2.5rem); 
      margin: rem(40) auto;
      border: solid 5px tomato;
      button { 
        display: block; 
        border-radius: 50%;
        transition: .15s;
        width: 100%;
        height:100%;
        box-shadow: none;
        text-shadow: none;
        font-size:rem(16);
        &:hover{

        }
      }
    }
    .vatjss-services-sidebar{
      .vatjss-services-sidebar-btns{
        position: absolute;
        left: 0;
        padding-left: 0;
      }
      button{
        width: 85%;
        display: block;
        background: $background_red;
        border:none;
        border-bottom: 1px solid black;
        box-shadow: none;
        text-shadow: none;
        color:white;
        border-radius: 0;
        padding: 30px 10px;
        font-size: rem(16);
      }
    }
  }
  .vatjss-service-faq-section{
    background: $color_black;
    .vatjss-container-fluid{
      padding-bottom: 0;
    }
    h2{
      color:white;
    }
    button.accordion-services{
      font-size: rem(16);
    }
  }
}

/*404 page*/

.error404{
  background:$background_red;
  color:$color_white;
    .site-content{
      display:flex;
      height:100vh;
      vertical-align: center;
        h1{
          text-align: center;
        }
    
    }
}
@media(min-width:992px){
  .services-template-default{
    .vatjss-justice-services{
      .vatjss-justice-service-carousel{
        .vatjss-carousel-background{
          background-size: 250px;
          width: 250px;
          height: 250px;
        }
        .circle-container {
          @include on-circle($item-count: 7, $circle-size: 20rem, $item-size: 3.5rem); 
          margin: rem(40) auto;
          border: solid 5px tomato;
          button { 
            display: block; 
            border-radius: 50%;
            transition: .15s;
            width: 100%;
            height:100%;
            box-shadow: none;
            text-shadow: none;
            &:hover{
    
            }
          }
        }
      }
    }
  }
}
@include desktop {
  body{
    &:not(.home){
      .site-header-background{
        background-image:linear-gradient(rgba(0,0,0, 0.6) 0,rgba(0,0,0, 0.6)),url('../../images/black_maple_background.png');
      }
      .site-header{
        background: rgba(151, 30, 22,0.5);
        .menu{
          li{
            a{
              color:$color_white;
            }
          }
        }
        .fa-search{
          color:white;
        }
      }
    }
  }
  .vatjss-home-hero{
    padding-top: 134px;
  }
  .post-type-archive-services, .post-type-archive-staff,.services-template-default{
    .site-content{
      padding-top: rem(180);
    }
  }
  .post-type-archive-staff{
    h1{
      text-align: center;
      color:white;
    }
    .vatjss-staff-img{
      width: 100%;
      height: auto;
      display: inline-block;
      overflow: hidden;
      border-radius: 0;
      text-align: center;
    }
    h2{
      font-size: rem(28);
    }
    p{
      font-size: rem(16);
    }
    .vatjss-staff-section{
      border: none;
    }
    .vatjss-flex-container-staff-desktop{
      flex-wrap: nowrap;
      display: flex;
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .post-type-archive-services{
    h1{
      font-size: rem(34);
    }
    .vatjss-services-section-container{
      background: $background_black;
      .vatjss-flex-container-no-wrap{
        display: flex;
      }
    }
    .vatjss-services-section{
      text-align: center;
      h2{
        font-size: rem(24);
        color:white;
      }
      p{
        color:white;
      }
      .vatjss-service-learn-btn{
        float: none;
        font-size: rem(16);
        padding: rem(10) rem(15);
        .fa{
          display: none;
        }
      }
    }
  }
  .services-template-default{
    .vatjss-service-title{
      width:80%;
      height: auto;
      h1{
        font-size: rem(32);
      }
      p{
        font-size:rem(16);
      }
    }
    .vatjss-serivce-no-padding{
      padding-top:rem(20);
      padding-bottom: rem(20);
    }
    .vatjss-service-faq-section{
      background: $color_black;
      .vatjss-container-fluid{
        padding-bottom: 20px;
      }
    }
    .vatjss-justice-services{
      .entry-header{
        align-items: center;
        display: flex;
      }
      .vatjss-service-title{
        background: none;
        h1,p{
          text-align: left;
        }
      }
    }
  }
}
