/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.vatjss-home-hero{
  background-image:linear-gradient(rgba(151, 30, 22, 0.5) 0,rgba(151, 30, 22, 0.5)),url('../../images/bc_lake.png');
  background-size:cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
.vatjss-home-banner {
  overflow: auto;
  height: 30vh;
  h2{
    color:$color__background-body;
  }
}
.vatjss-home-banner,.vatjss-home-mobile-subscribe-banner {
  background-image: url('../../images/red_maple_background.png');
  background-repeat: repeat;
  background-position: center;
}
.vatjss-home-mobile-subscribe-banner{
  height: 20vh;
  button{
    font-size: rem(24);
  }
}
.post-type-archive-services, .post-type-archive-staff{
  .site-content{
    padding-top: rem(70);
  }
}
.post-type-archive-staff{
  h1{
    color:white;
  }
  .vatjss-staff-header{
    background-image:linear-gradient(rgba(151, 30, 22, 0.5) 0,rgba(151, 30, 22, 0.5)),url('../../images/ruth-jenna-hands.png');
    background-size:cover;
    background-position: center;
    overflow: auto;
    height: 60vh;
    p{
      font-size: rem(24);
    }
  }
  .page-header{
    overflow: auto;
  }
  .vatjss-staff-img{
    width: 90px;
    height: 90px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    img{
      min-width: 100px;
    }
  }
  .entry-content{
    margin-top: rem(10);
  }
  h2{
    margin-bottom: 0;
    margin-top: 0;
    font-size: rem(20);
    color:white;
  }
  P{
    word-break: break-all;
    margin: 0 0 rem(10) 0;
    font-size: rem(14);
    color:white;
  }
  .vatjss-staff-section{
    background-image: linear-gradient(rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),url('../../images/black_maple_background.png');
    background-repeat: repeat;
    background-position: center;
    border-bottom: 1px solid white;
  }
}
.post-type-archive-services{
  h1{
    color:white;
    font-size: rem(22);
  }
  .vatjss-service-hero{
    background-image: linear-gradient(rgba(255,255,255,.15) 0,rgba(255,255,255,.15)),url('../../images/healing.jpeg');
    background-size:cover;
    background-position: center;
    height: calc(100vh - 70px);
  }
  .vatjss-services-section-container{
    .vatjss-flex-container-no-wrap{
      display: block;
    }
  }
  
  .vatjss-services-section{
    h2{
      font-size: rem(18);
    }
    .vatjss-service-learn-btn{
      background-color: $background_red;
      padding: rem(6) rem(12);
      color:white;
      text-decoration: none;
      font-size: rem(14);
      display: inline-block;
      .fa{
        position: relative;
        top: 1px;
        margin-left: 10px;
      }
    }
  }
  .vatjss-btn-section{
    margin: 0;
    .vatjss-flex-item-mobile-33{
      padding: 0;
    }
    .vatjss-service-btn{
      width: 100%;
      background: transparent;
      border: 1px solid white;
      box-shadow: none;
      font-size: rem(12);
      text-shadow: none;
      color:white;
      border-radius: 0;
    }
  }
}
@include desktop {
  .post-type-archive-services, .post-type-archive-staff{
    .site-content{
      padding-top: rem(114);
    }
  }
  .post-type-archive-staff{
    h1{
      text-align: center;
      color:white;
    }
    .vatjss-staff-img{
      width: 100%;
      height: auto;
      display: inline-block;
      overflow: hidden;
      border-radius: 0;
      text-align: center;
    }
    h2{
      font-size: rem(28);
    }
    p{
      font-size: rem(16);
    }
    .vatjss-staff-section{
      border: none;
    }
    .vatjss-flex-container-staff-desktop{
      flex-wrap: nowrap;
      display: flex;
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .post-type-archive-services{
    h1{
      font-size: rem(34);
    }
    .vatjss-services-section-container{
      background: $background_black;
      .vatjss-flex-container-no-wrap{
        display: flex;
      }
    }
    .vatjss-services-section{
      text-align: center;
      h2{
        font-size: rem(24);
        color:white;
      }
      p{
        color:white;
      }
      .vatjss-service-learn-btn{
        float: none;
        font-size: rem(16);
        padding: rem(10) rem(15);
        .fa{
          display: none;
        }
      }
    }
  }
}