/*--------------------------------------------------------------
# Resource List
--------------------------------------------------------------*/
.post-type-archive-resource {
.site-main {
  overflow: auto;
  min-height: 85vh;
  @include desktop {
    min-height: 90vh;
  }
}

.site-header-background {
  z-index: -1000;
  @include desktop {
    z-index: 1;
  }
}

//resource page elements
.resources-content-area {
  background-image: url('../../images/black_maple_background.png');
  background-position: top right;
  background-repeat: repeat;
  @include desktop {
    main {
      display: flex;
    }
  }

  section.resource-list-page {
    height: 0px;
    width: 100%;
    overflow: hidden;
    @include desktop {
      height: auto;
    }
  }

  div.vatjss-mobile-resource-toggle-container {
    z-index: 1000;
    margin: 100px auto 20px;
    height: auto;
    width: 92vw;
    min-width: 246px;
    max-width: 366px;
    display: flex;
    border: $border_grey;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-family: $font_main;
    z-index: -1;
    @include desktop {
      z-index: 1;
      width: 300px;
      height: 300px;
      margin: 200px auto 20px 0;
      position: relative;
      left: 0;
      flex-direction: column;
      border-color: black;
      border-radius: 0;
      background-color: $background_red;
    }

    div.resource-toggle-mobile {
      border-right: $border_grey;
      margin: 0;
      padding: 0;
      width: $a-third;
      height: 100%;
      display: block;
      z-index: 1;
      @include desktop {
        border: 1px black solid;
        width: 100%;
        height: $a-third;
      }
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        &:link {
          text-decoration: none;
          color: white
        }
        &:visited {
          color: white;
        }
      }
      &:hover, a:hover, a:visited:hover {
        background-color: $background_red;
        cursor: pointer;
        @include desktop {
          background-color: white;
          color: black;
        }
      }
      &:first-child {
        border-radius: 5px 0 0 5px;
        @include desktop {
          border-radius: 0;
        }
      }
      &:last-child {
        border-right:none;
        border-radius: 0 5px 5px 0;
        @include desktop {
          border-radius: 0;
        }
      }
      h3 {
        font-size: 0.77rem;
        text-align: center;
        padding: 5px 10px;
        margin: 0;
        span {
          width: auto;
          height: auto;
        }
        @include desktop {
          font-size: 1.3rem;
          padding: 0;
          span {
            width: 0;
            height: 0;
            overflow: hidden;
          }
        }
      }
    }
    div.resource-toggle-mobile-on {
      background-color: $background_red;
    }
  }
  .vatjss-resource-desktop-content {
    height: 0;
    overflow: hidden;
  }

  .vatjss-mobile-accordion {
    @include desktop {
      width: 100%;
      margin: 200px 30px;
      .vatjss-resource-desktop-content {
        color: white;
        height: auto;
        h3.resource-subtitle {
          font-size: 1.7rem;
          margin: 0;
        }
        p {
          font-size: 1.2rem;
        }
      }
      .resource-toggle-desktop {
        color: white;
        font-size: 1.5rem;
      }
      .panel {
        margin-left: 20px;
        height: 200px;
        overflow: scroll;
      }
      .community-resource-list .panel {
        height: auto;
        overflow: display;
        div.resources-accordion {
          background-color: $background_red;
          border-radius: 0;
          padding: 0;
          width: 60vw;
          min-width: 300px;
          border: 1px grey solid;
          h4{
            color: white;
            text-align: left;
            padding: 10px;
          }
        }
        .resource-accordion-button {
          &:first-of-type{
            border-top: none;
          }
          border-top: 1px grey solid;
          border-bottom: none;
          }
        }
      }
    }

  .resource-toggle-desktop {
    width: 200px;
    height: 0px;
    overflow: hidden;
    @include desktop {
      height: 100px;
      width: 100%;
    }
  }

  section.resource-list-page.resource-toggle-on {
    height: auto;
  }

  .panel {
    color: white;
    width: 430px;
    margin: 0 auto;
    @include desktop {
      width: 100%;
    }
    h4 {
      margin: 0;
      font-size: 1.3rem;
      text-decoration: underline;
    }
    h5 {
      margin: 0;
      font-size: 1rem;
      margin-left: 20px;
    }
    ul li a {
      font-size: 0.8rem;
      &:link, &:visited {
        color: white;
      }
      &:link:hover, &:visited:hover {
        color: lighten($background_red, 10%);
      }
    }
  }

  .resources-accordion {
    background: $color__background-screen;
    padding: 20px 0;
    width: 430px;
    margin: 0;
    border: none;
    border-radius: 10px;
    .resource-accordion-button {
      border-bottom: 1px grey solid;
      position: relative;
      &:hover h4  {
        background-color: rgba(151, 30, 22, 0.2);
        cursor: pointer;
      }
      &:first-child {
        border-top: 1px grey solid;
      }
      h4 {
        padding: 5px;
        text-align: center;
        color: $background_red;
        text-decoration: none;
      }
      .button-chevron {
        width: 43px;
        height:43px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
      }
      .button-chevron-toggle-on {
        transform: rotate(90deg);
      }
    }
    div.resource-accordion-button.resource-accordion-button-toggle-on {
      background-color: black;
      &:hover h4  {
        background-color: rgba(151, 30, 22, 0.3);
        cursor: pointer;
      }
    }
  }
  

  .resource-accordion-section {
    height: 0;
    overflow: hidden;
  }
  .resource-accordion-toggle-on {
    height: auto;
    background-color: rgba(0, 0, 0, 1);
  }
  @include desktop {
    background-image: none;
    background: black;
  }
}
}