/*--------------------------------------------------------------
# Resource List
--------------------------------------------------------------*/

.site-main {
  overflow: auto;
  min-height: 75vh;
  @include desktop {
    min-height: 90vh;
  }
}

//resource page elements
.resources-content-area {
  background-image: url('../../images/black_maple_background.png');
  background-position: center;
  background-repeat: repeat;
  @include desktop {
    background-image: none;
    background: black;
  }
}

section.resource-list-page {
  height: 0px;
  width: 100%;
  overflow: hidden;
}

.site-header-background {
  display: none;
}

div.vatjss-mobile-resource-toggle-container {
  margin: 100px auto 20px;
  height: auto;
  width: 92vw;
  min-width: 246px;
  max-width: 366px;
  display: flex;
  border: $border_grey;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-family: $font_main;
  div.resource-toggle-mobile {
    &:hover {
      background-color: $background_red;
    }
    &:first-child {
      border-radius: 5px 0 0 5px;
    }
    &:last-child {
      border-right:none;
      border-radius: 0 5px 5px 0;
    }
    border-right: $border_grey;
    margin: 0;
    padding: 0;
    width: $a-third;
    height: 100%;
    display: block;
    h3 {
      font-size: 0.77rem;
      text-align: center;
      padding: 5px 10px;
      margin: 0;
      @include desktop {
        height: 0px;
        border: none;
        overflow: hidden;
      }
    }
    @include desktop {
      height: 0px;
      border: none;
      overflow: hidden;
    }
  }
  @include desktop {
    height: 0px;
    border: none;
    overflow: hidden;
  }
}

div.resource-toggle-desktop {
  width: 200px;
  height: 0px;
  overflow: hidden;
  @include desktop {
    height: 100px;
    width: auto;
  }
}