/*Search Page*/

.search-results{
  .content-area{
    overflow: auto;
  }
  .page-title{
    font-size: rem(28);
  }
  .hentry{
    border-bottom: 1px solid rgba(0,0,0,0.05);
    padding: 40px 0;
    margin: 0;
    .vatjss-search-read-btn{
      background-color: $background_red;
      color:$color_white;
      text-decoration: none;
      padding: 6px 12px;
      display: inline-block;
      &:hover{
        background-color: darken($background_red, 10%);
      }
    }
  }
  .hentry:last-child{
    border-bottom: none;
  }
  .entry-header{
    width:100%;
    .entry-title{
      font-size:rem(21);
      margin: 0;    
      a{
        text-transform:uppercase;
        font-size: rem(16);
        text-decoration:none;
        color:#971E16;
        &:hover{
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}