/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/* bottom sidebar */
div div aside#text-3 {
	display: none;

	@include desktop {
		display: unset;
		margin: 0;
		width: 33rem;
		border-right: 5px solid #971E16;
		text-align: center;
		align-content: center;
	 }
}  //subscribe

div div aside#text-2 {
	display: none;

	@include desktop {
		display: unset;
		margin: 0;
		width: 22rem;
		border-right: 5px solid #971E16;
		text-align: center;
		align-content: center;
	}
}  //social

div aside.vatjss-biz-hours-class {
	background: $background_black;
	color: $color_white;
	
	h2.widget-title {
		margin: 0;
		text-align: center;
		text-transform: uppercase;
		padding-top: rem(30);
		padding-bottom: rem(30);
	}

	p span.day-of-the-week {
		text-transform: uppercase;
	}
}  //biz hour

.vatjss-business-hours{
	display: flex;
	padding-left: rem(15.9);
	padding-right: rem(15.9);
	font-size: rem(14);

		.vatjss-hours{
			width: 460px;
			line-height: .6;
		}
}

.vatjss-widget-address p {
	padding-left: rem(15);
	margin: 0;
	line-height: rem(35); 
	font-size: rem(14);
	text-transform: uppercase;

	span.widget_address {
		display: none;
	}	
}